@font-face {
	font-family: 'Roboto Mono';
	src: url('./assets/fonts/RobotoMono-VariableFont_wght.ttf');
}

body {
	margin: 0;
	font-family: 'Roboto Mono';
	font-size: 0.9rem !important;
}

.form-check-label {
	font-size: 1rem;
}

.loading-circle {
	height: 20px;
	animation: loading-anim 2s linear infinite;
}

.full-width-container {
	width: 100% !important;
}

#loading {
	display: flex;
	justify-content: center;
	align-items: center;
}

#content {
	display: flex;
	width: 100%;
	flex-direction: row;
	padding: 0vh 5vw;
	justify-content: space-between;

	#input {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 40vw;

		#ref-seq-container {
			width: 100%;
			border: 2px solid black;
			border-radius: 5px;
			padding: 2vh 2vw;

			#input-sequences-container {
				display: flex;
				flex-direction: column;
			}

			#common-sequences option {
				font-size: 0.9rem;
			}
		}
	}

	#output {
		width: 45vw;

		textarea {
			border: 2px solid black;
			height: 60vh;
			font-size: 0.9rem;
		}

		#duration {
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: bold;
		}
	}

	#input-header,
	#output-header {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		i {
			cursor: pointer;
		}
	}
}


@keyframes loading-anim {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}